body {
  font-family: Arial;
  margin: 0;
  background: #f7f3ef;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #5c3d2e;
  color: white;
}

.header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px;
  background: #e6cfc3;
}

.btn {
  background: #5c3d2e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.cart-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.cart-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.summary-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}